

@model Product 

<div class="col-6">
    <h1>Add Product</h1>
    <div class="row">
        <form method="post">
            <div class="mt-3 col-6">
                <label class="form-lable">Name</label>
                <input type="text" class="form-control" asp-for="ProdcutName"></input>
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.ProdcutName)
                </div>
            </div>
            <div class="form-group mt-3 col-6">
                <label asp-for="CategoryId" class="control-label mb-1">Category Id </label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">Select Category</option>
                </select>
                @* <span asp-validation-for="CategoryId" class="text-danger"></span> *@
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.CategoryId)
                </div>
            </div>

            <div class="mt-3 ">
                <button type="submit"  class="btn btn-primary">Save </button>
            </div>
        </form>
    </div>
</div>