@using EmployeeCrud_Sat.DTO

@{
    ViewData["Title"] = "Add Employee";
}

@model AddEmployeeDto
<h2>Add New Employee</h2>

<form asp-action="Add" method="post" class="w-50">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MobileNumber"></label>
        <input asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryId">Country</label>
        <select asp-for="CountryId" class="form-control" asp-items="Model.Countries">
            <option value="">-- Select Country  --</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StateId">State</label>
        <select asp-for="StateId" class="form-control" asp-items="Model.States">
            <option value="">-- Select State  --</option>

        </select>
        <span asp-validation-for="StateId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CityId">City</label>
        <select asp-for="CityId" class="form-control" asp-items="Model.Cities">
            <option value="">-- Select City --</option>

        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" /> 
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
