@model EcomMvc.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h5>Are you sure you want to delete this?</h5>
<div>
   
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a  class="text-decoration-none" asp-action="ListCategory">Back to List</a>
    </form>
</div>
